.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  width: 100%;
  font-size: 25px;
}

.input {
  display: block;
  width: 50%;
  height: 40px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
}

.btn {
  width: 40%;
  height: 40px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  background-color: rgb(67, 225, 253);

  cursor: pointer;
}
