.link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: #ffdf05;
}

.link:hover {
  color: #8c91b3;
}

.activeLink {
  color: #e84a5f;
}

.icon {
  margin-left: 5px;
}
