.list {
  padding-left: 0;
  list-style: none;
}

.item {
  display: flex;
  justify-content: space-between;
  border: 1px dashed #808080;
  padding: 5px;
  margin-bottom: 5px;

  font-size: 20px;
}

.btn {
  padding: 5px;
  margin-left: 20px;
  border-radius: 5px;
  color: #ff0000;
  border-color: #ff0000;

  cursor: pointer;
}
