.list {
  padding-left: 0;
  list-style: none;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px dashed var(--accentColor);
  padding: 5px;
  margin-bottom: 5px;

  color: var(--primaryTextColor);
  font-size: 20px;
}

.btn {
  padding: 5px;
  margin-left: 20px;
  border-radius: 5px;

  cursor: pointer;
}

.loader {
  display: block;
  text-align: center;
}
